examples/workflows/n8n-cloud-validate-signups.json
{
  "name": "MailSafePro - Validate New Signups (n8n Cloud)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "signup-validation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Signup Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "signup-validation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mailsafepro.es/api/v1/validate/email",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.body.email }}\",\n  \"check_smtp\": true\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-request-validate",
      "name": "Validate Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300],
      "credentials": {
        "headerAuth": {
          "id": "1",
          "name": "MailSafePro API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "safe-to-send",
              "leftValue": "={{ $json.is_safe_to_send }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-valid",
      "name": "Is Safe to Send?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-api.com/users",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $('Validate Email').item.json.email }}\",\n  \"validated\": true,\n  \"risk_score\": {{ $('Validate Email').item.json.risk_score }},\n  \"quality_score\": {{ $('Validate Email').item.json.quality_score }}\n}",
        "options": {}
      },
      "id": "create-user",
      "name": "Create User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Email validation failed: \" + $('Validate Email').item.json.recommendation\n}",
        "options": {}
      },
      "id": "respond-error",
      "name": "Return Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 400]
    }
  ],
  "connections": {
    "Signup Webhook": {
      "main": [
        [
          {
            "node": "Validate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Email": {
      "main": [
        [
          {
            "node": "Is Safe to Send?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Safe to Send?": {
      "main": [
        [
          {
            "node": "Create User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["email-validation", "mailsafepro", "signup"],
  "triggerCount": 1,
  "updatedAt": "2026-02-15T00:00:00.000Z",
  "versionId": "1"
}
