examples/workflows/n8n-cloud-clean-email-list.json
{
  "name": "MailSafePro - Batch Email List Cleanup (n8n Cloud)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeks": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mailsafepro.es/api/v1/validate/batch/sync",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"emails\": {{ $json.emails }},\n  \"check_smtp\": true\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "http-request-validate",
      "name": "Validate Emails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300],
      "credentials": {
        "headerAuth": {
          "id": "1",
          "name": "MailSafePro API"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batch",
      "name": "Split in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [750, 300],
      "continueOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "risk-level",
              "leftValue": "={{ $json.risk_level }}",
              "rightValue": "low",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-safe",
      "name": "Is Low Risk?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-api.com/emails/keep",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "keep-email",
      "name": "Keep (Safe List)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 150]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-api.com/emails/remove",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "remove-email",
      "name": "Remove (Risky)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 450]
    }
  ],
  "connections": {
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Validate Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Emails": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches": {
      "main": [
        [
          {
            "node": "Is Low Risk?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Low Risk?": {
      "main": [
        [
          {
            "node": "Keep (Safe List)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove (Risky)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["email-validation", "mailsafepro", "batch", "cleanup"],
  "triggerCount": 1,
  "updatedAt": "2026-02-15T00:00:00.000Z",
  "versionId": "1"
}
